body
{
    margin: 0;
    font-family: 'Roboto Condensed';
}

.covid-text
{
    width: 100%;
    text-align: center;
    background: #0082c3;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0;
    padding: 5px;
    height: 40px;
    color:white;
}

.covid-text span
{
    font-size: 22px;
    margin-right: 10px;
}

.covid-text a
{
    color:white;
    text-decoration: underline;
}

.navigator
{
    height: 70px;
    text-align: center;
}

.navigator h6
{
    margin-bottom: 0px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.navigator td
{
    padding-left: 40px;
    margin-top: 10px;
}

.navigator-menus
{
    margin-top: 17px;
}


.navigator input[type=text] 
{
    padding: 11px;
    margin-top: -1px;
    font-size: 14px;
    border: none;
    border-right: 4px solid #0078bd; 

    width:700px;
    outline: none;
    background-color: rgb(246,246,246);
}

.navigator td button 
{
    padding: 8.1px 10px;
    margin-top: 8px;
    margin-right:-5.3px;
    background: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: rgb(246,246,246);
}


.delivery-division
{
    padding:10px;
    color:white;
    font-size: 14px;
    background-color: rgb(66,67,83);
    text-align: center;
    height: 45px;
}

.delivery-division button
{
    background-color: transparent;
    font-family: 'Roboto Condensed';
    padding:3px;
    display: inline-block;
    color:white;
    border: 1px solid white;
    border-radius: 5px;
    width: 70px;
    font-size: 12px;
}

.next-button
{
    background-color: white;
    font-size: 20px;
    padding: 0px;
    position: relative;
    border: 1px solid #424453;
    display: table-cell;
    z-index: 99;
    color: #0f384d;
    font-weight: bold;
    float: right;
    width: 28px;
    height: 45px;
    color:#0f384d;
}

.next-button:before
{
    background-color: white;
    width: 13px;
    height: 100%;
    position: absolute;
    transform: skew(10deg);
    content: '';
    left: -5px;
    margin-top: -0.9px;
    border-left:1px solid #424453;
    border-top: 1px solid #424453;
}

.prev-button
{
    background-color: white;
    font-size: 15px;
    padding: 0px;
    position: relative;
    border: 1px solid #424453;
    display: table-cell;
    z-index: 99;
    color: #0f384d;
    font-weight: bold;
    width: 28px;
    height: 45px;

}

.prev-button:after
{
    background-color: white;
    width: 10px;
    height: 100%;
    position: absolute;
    transform: skew(10deg);
    content: '';
    left: -5px;
    margin-top: -0.9px;
    border-left:1px solid #424453;
    border-top: 1px solid #424453;
}

.carousel-controller
{
  font-weight: lighter;
  margin-top: 9px;
  cursor: pointer;
}

.carousel-indicators li
{
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .carousel-indicators li:hover 
{
    background-color:blue;
}

.carousel-control-next, .carousel-control-prev 
{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 4%; 
    color: #fff;
    /* text-align: center; */
    opacity: 1;
    transition: opacity .15s ease;
}

.promise-division
{
    width: 1363px;
    height: 90px;
    background-color: rgb(246,246,246);
    margin-left: 70px;
}

.promise-division h4
{
    margin-top: 10px;
    margin-left: 25px;
    font-size: 17.5px;
    font-weight: bold;
}

.promise-division span
{
    font-size: 14px;
    margin-left:-8px ;
}

.banner-holder
{
    margin-right: 50px;
    margin-left: 50px;
    color:rgb(66,68,83);
}

.banner-holder p
{
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 10px;
    line-height: 0.4em;
}

.banner1
{
    height:366px ;
    width:339px ;
    color: white;
    font-size: 30px;
    line-height: 0em;
    background-repeat:no-repeat;
    background-size: cover;
    display: inline-block;
    margin-left: 10px;
    border-radius: 4px;
}

.banner2
{
    width:685px;
    height: 530px;
    background-repeat:no-repeat;
    background-size: cover;
    display: inline-block;
    margin-left: 5px;
    border-radius: 4px;
}

.banner3
{
    height: 170px;
    background-size: cover;
    margin-bottom: 9px;
    border-radius: 4px;
}

.gift-voucher
{
    height: 468px;
    width:1363;
    margin:auto;
    background-image: url('ImagesTask2/giftVoucher.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 55px;
    margin-right: 55px;
}

.product-card-holder
{
    margin-right: 40px;
    margin-left: 60px;
}

.product-card-main
{
    height: 261px;
    width: 560px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5px;
}

.product-card
{

    background-color:rgb(244, 247, 250);
    border: px solid white;
    margin-right: 10px;
}

.product-card-holder img
{
    height: 258px;
    width:260px;
    mix-blend-mode: multiply;  
}

.product-price
{
    height: 138px;
    width:264px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.11);
}

.product-price-big
{
    height: 260px;
    width:264px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.11);
    margin-top: 10px;
    margin-right: 5px;
}

.price_tag 
{
    background: #ffea29;
    border: none;
    font-size: 1rem;
    padding: 6px 15px 6px 15px;
    font-weight: 600;
    border-radius: 4px 0 0 4px;
    position: relative;
    margin-right: 10px;
    display: table-cell;
    z-index: 99;
    color: #0f384d;
    font-weight: bold;
}

.price_tag:after 
{
    background: #ffea29;
    width: 13px;
    height: 100%;
    position: absolute;
    transform: skew(10deg);
    content: '';
    right: -5px;
    top: 0px;
    z-index: -1;
}

.card_ratings 
{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.11);
    border-radius: 3px;
    height:40px ;
    width:80px;
}

.rate_number 
{
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #0f384d;
    display: inline-block;
    padding:10px 10px 10px 10px ;
    margin:auto;
    font-family: 'Roboto Condensed';
}

.product-price div p, .product-price-big div p
{
    display: inline-block;
    margin-top: 10px;
    margin-left: 7px;
    margin-bottom: -2px;
    font-size: 16px;
    font-family: 'Roboto Condensed';
}

.next-button-mc
{
    background-color: white;
    font-size: 20px;
    padding: 0px;
    position: relative;
    border: 1px solid #424453;
    display: table-cell;
    z-index: 99;
    color: #0f384d;
    font-weight: bold;
    float: right;
    width: 25px;
    height: 45px;
    color:#0f384d;
    top:100px;
    right:10px;
}

.next-button-mc:before
{
    background-color: white;
    width: 13px;
    height: 100%;
    position: absolute;
    transform: skew(10deg);
    content: '';
    left: -5px;
    margin-top: -0.9px;
    border-left:1px solid #424453;
    border-top: 1px solid #424453;
}

.prev-button-mc
{
    background-color: white;
    font-size: 15px;
    padding: 0px;
    position: relative;
    border: 1px solid #424453;
    display: table-cell;
    z-index: 99;
    color: #0f384d;
    font-weight: bold;
    width: 25px;
    height: 45px;
    top:100px;
    left:10px;
}

.prev-button-mc:after
{
    background-color: white;
    width: 10px;
    height: 100%;
    position: absolute;
    transform: skew(10deg);
    content: '';
    left: -5px;
    margin-top: -40.5px;
    border-left:1px solid #424453;
    border-top: 1px solid #424453;
}

.carousel-controller{
  font-weight: lighter;
  margin-top: 9px;
  cursor: pointer;
}


.flex-container 
{
    display: flex;
    background-color:white;
    margin-left: 60px;
    margin-right: 60px;
    height: 450px;
}

.flex-container > div 
{
    color: white;
    margin: 0px;
}

.MultiCarousel 
{ 
    float: left; 
    overflow: hidden; 
    padding: 7px; 
    width: 1180px; 
    position:relative; 
}

.MultiCarousel .MultiCarousel-inner 
{ 
    transition: 1s ease all;
    float: left; 
}

.MultiCarousel .MultiCarousel-inner .item 
{   
    float: left;
    height: 400px;
}

.MultiCarousel .MultiCarousel-inner .item > div 
{ 
    padding:5px; 
    margin:5px; 
    background:white; 
    color:#666;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst 
{
    position:absolute;
    border: none;
    top:100px;
    background-color: transparent;
    outline: none;
}

.MultiCarousel .leftLst 
{ 
    left:30px; 
}

.MultiCarousel .rightLst 
{ 
    right:20px;
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over 
{ 
    pointer-events: none;

}

.bestseller-card
{
    height:432px;
    width:245px;
    background-image: url('ImagesTask2/bestsellermain.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.product-card-cm
{
    background-color:rgb(244, 247, 250);
}

.product-card-cm img
{
    height: 240px;
    width:246px;
    mix-blend-mode: multiply; 
    margin-top: 10px;
    padding-left: 20px;
}

.promise-division-footer
{
    width: 1093px;
    height: 100px;
    background-color: rgb(246,246,246);
    margin-top: 0px;
   border: 4px solid white;
   font-size: 13px;
}

.promise-division-footer h4
{
    margin-top: 18px;
    margin-left: 12px;
    font-size: 14px;
    font-weight: bold;
}

.application-footer
{

    width:352px;height: 94px;
    background-color: rgb(246,246,246);
    padding-top: 10px;
    border: 1px solid white;

}

.application-footer p
{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0px 7px;
}

.application-footer img
{
    height:35px;
    width:90px;
    display: inline-block;
}

.info-panel-footer
{
    width:1093px;
    height: 220px;
    border: 4px solid white; 
}

.info-panel-footer th
{
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    padding-left: 90px;
}

.info-panel-footer td
{
    margin-top: 10px;
    padding-left: 90px;
    padding-bottom: 0px;
}

.transaction-footer
{
    width:1120px;
    height: 100px;
    padding-left: 40px;
    padding-top: 20px;

}

.transaction-footer h4
{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
}

.transaction-footer button
{
    border-radius: 4px;
    margin-left: 5px;
}

.socialmedia-panel
{
    background-color: rgb(246,246,246);
    height: 357px;
    width:352px;
    padding-top: 10px 10px;
    border: 1px solid white;

}

.vertical-line
{
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    height: 30px;
   padding-left: 10px;
   padding-right: 10px;
    display: inline-block;
}

.socialmedia-panel h4
{
    font-weight: bold;
    line-height: 2em;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto Condensed';

}

.socialmedia-panel img
{
    height: 25px;
    width: 25px;
    background-color:black ;
    padding: 5px;
    padding-left: -10px;
    margin-left: 40px;
}

.socialmedia-panel button
{
    height: 40px;
    width:268px;
    background-color: white;
    border: none;
    padding-left: 0px;
}

.leaf-footer
{
    width: 200px;
    height: 200px;
    right: 190px;
    position: absolute;
    bottom: -7730px;
    background-position: center;
    background-size:cover;
    background-image: url('ImagesTask2/leaf.png');
}

.vert-move 
{
    -webkit-animation: mover 4s infinite  alternate;
    animation: mover 4s infinite  alternate;
}
.vert-move 
{
    -webkit-animation: mover 4s infinite  alternate;
    animation: mover 4s infinite  alternate;
}
@-webkit-keyframes mover 
{
    0% { transform: translateY(0); }
    100% { transform: translateY(-40px); }
}
@keyframes mover 
{
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.dec-footer
{
    text-align: center;
}

.dec-footer h3
{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.twig
{
    background-image: url('ImagesTask2/twig.png');
    content: "";
    height: 200px;
    width: 200px;
    background-size: cover;
    position: absolute;
    left: 10px;
    bottom: -7910px;
    z-index: 1;
}

.transaction-footer button
{
    padding:10px;
    background-color: white;
    outline: none;
    border: 0.5px solid black;
    padding-left: -10px;
}

.clr_orange 
{
    width: 100%;
    height: 5px;
    background: #ec6607;
    display: inline-block;
    max-width: 200px;
    min-width: 200px;
    float: left;
}

.clr_blue 
{
    width: 100%;
    height: 5px;
    background: #0082c3;
    display: block;
    float: left;
    max-width: 400px;
    min-width: 400px;
}

.clr_green
{
    width: 100%;
    height: 5px;
    background: #85bc4a;
    max-width: 150px;
    min-width: 150px;
    float: left;
}

.modal 
{
    left:420px;
    top:100px;
    font-family: 'Roboto Condensed';
}

.modal-dialog
{
    display: inline-block;
}

.flex-container2 
{
    display: flex;
}

.flex-container2 > div
{

    height:450px;
}

.flex-container2 h1
{
    font-size: 28px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.flex-container2 p
{
    font-size: 14px;
}

.container-left
{
    width:310px;background-color:#f4f4f4;
    background-image: url('ImagesTask2/modalbackround.svg');
    background-repeat: repeat-y;
    background-size: 100%;
    height: 100%;
}

.container-right
{
    width:480px;
}

.container-right h3
{
    font-size:16px ;
    font-weight: bold;
    text-transform: uppercase;
}

.button-background
{
    background-color:#F4F4F4; ;
    height: 119px;
    width:338px;
    padding:20px
}

.modal-button1
{
    height: 42px;
    width:303px;
    background-color: #0082C3;
    text-align: center;
    color:white;
    cursor: pointer;
    text-transform: uppercase;
    padding:10px;
    border-radius: 4px;
}

.modal-button2
{
    height: 42px;
    background-color: #0082C3;;
    text-align: center;
    color:white;
    cursor: pointer;
    text-transform: uppercase;
    padding:10px;
    display: inline-block;
    width:146.5px;
    border-radius: 4px;
}

.modal-inputbox
{
    height: 42px;
    outline: blue;
    padding:10px;
    display: inline-block;
    width:146.5px;
    border-radius: 4px;
    border:1px solid #0082C3;
    box-shadow: 0px 0px 5px #0082C3;
}

.closebutton-modal
{
    float: right;padding-right: 15px;padding-top: 10px;font-size: 22px;
    cursor: pointer;
}

